* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border: solid 2px transparent;
}


header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo { 
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 10px #1e1b1c;
    border-radius: 20px;
}

.nav { 
    display: flex;
}

.nav-list { 
    display: flex;
    list-style: none; 
    gap: 30px;
}

.auth-buttons { 
    gap: 15px;
    display: flex;
}

.btn { 
    padding: 6px;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px 2px black;
}

.btn:hover { 
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    margin: 30px;

}

.about { 
    display: flex;
    text-align: center;
    justify-content: center;
}

.picture1 { 
 width: 40%;
 height: 40%;
 margin: 20px;
 border-radius: 10px;
 box-shadow: 10px 10px 20px black;
}

.picture2 { 
    width: 40%;
    height: 40%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
}

.picture3 { 
    width: 40%;
    height: 40%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
}

h3 { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.contact-us { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid 2px transparent;
    margin-bottom: 1.5rem;
}



.follow-us { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1.5rem;
}

.subscribe { 
    display: flex;
    justify-content: center;
}

#subscribe { 
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

#subscribe:hover { 
    background-color: black; 
    color: white;
    transition: ease-in 0.4s;
    cursor: pointer;
}

fieldset { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    
}

#submit { 
    padding: 6px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

#submit:hover { 
    background-color: black;
    color: white;
    transition: 0.4s ease-out;
    cursor: pointer;
}

@media (max-width: 768px) { 
    .about { 
        flex-direction: column;
    }

    .picture1, .picture2, .picture3 { 
        height: auto;
        width: 200px;
    }

    header { 
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border: 2px solid black;
        box-shadow: 2px 2px 4px black;
    }

    .nav-list { 
        flex-direction: column;
        gap: 1rem;
    }

    .contact-us { 
        flex-direction: column;
        align-items: center;
    }
}

