* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    font-family: Arial, sans-serif;
}


header { 
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 2px 2px 3px black;
}

#logo { 
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 20px;
}

.title {
    margin-left: 20%;
}

nav { 
    display: flex;
    justify-content: space-around;
    align-items: right;
    width: 795px;
}

nav ul { 
    display: flex;
    justify-content: space-between;
    align-items: right;
}

nav ul li { 
    list-style: none;
    margin: 0 15px;
}

nav ul li:hover {
    color: white;
    transition: 0.3s ease-in-out;
}

nav ul li:visited { 
    color: white;
    text-decoration: none;
}

.auth-buttons { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.btn { 
   background-color: white;
   border: solid 2px black;
   border-radius: 5px;
   padding: 6px;
}

.btn:hover {
     background-color: white;
     color: black;
     box-shadow: 1px 2px 1px 2px black;
     transition: 0.2s ease-in-out;
     cursor: pointer;
}

main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.whats-new {
    margin: 20px;
    padding: 20px;
    border: solid 2px transparent;
}


.upcoming {
    margin-top: 20px;
    border: solid 2px transparent;
}

.community { 
   margin-top: 20px;
}

.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border: solid 2px transparent;
    flex-wrap: wrap;
}

.socials { 
    margin: 30px;
    display: flex;
    border: 2px solid white;
    
}

.email-form {
     text-align: center;
     padding: 20px;
     margin: 20px;
}

.email { 
    margin-bottom: 30px;
}

#sub { 
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in;
}

#sub:hover { 
    background-color: white;
    box-shadow: 2px 1px 1px 2px black;
    color: black;
}



