* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
}

body { 
  font-family: Arial, sans-serif;
}

.header { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 1px 2px 2px 3px black;
}

h1 { 
  text-shadow: 2px 2px 5px gray;
}

 h4 { 
  text-align: center;
  color: black;
}

.logo { 
  width: 40px;
  height: 40px;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 20px;
}

.nav { 
  display: flex;
}

.nav-list { 
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-iitem a { 
  text-decoration: none;
}

.nav-item a:hover { 
  color: black; 
  transition: color 0.3 ease;
}

.nav-item a:visited { 
  color: #ffffff;
}

.auth-buttons { 
  display: flex; 
  gap: 10px;
}

.btn { 
  cursor: pointer; 
  padding: 3px;
  background-color: black;
  color: #ffffff;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  margin-top: 0.3rem;
  cursor: pointer;
}

.btn:hover { 
  background-color: green;
  transition: background-color 0.5s ease-in;
  box-shadow: 2px 2px 5px black;
}

main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin-top: 1rem;
}

.kickboxing { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1 1 auto;
}

.kickboxing-image {
  max-height: 130px;
  height: auto;
  border-radius: 10px;
  box-shadow:  10px 10px 20px green;
  border: 2px solid white;
  margin: 1.2rem;
}

.solopilates { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.pilates-image { 
  max-height: 130px;
  height: auto;
  border-radius: 10px;
  box-shadow:  10px 10px 20px red;
  border: 2px solid white;
  margin: 1.2rem;
}

.soloyoga { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.yoga-image { 
  max-height: 130px;
  height: auto;
  border-radius: 10px;
  box-shadow:  10px 10px 20px black;
  border: 2px solid white;
  margin: 1.5rem;
}

footer { 
  display: flex;
  border: solid 1px transparent;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.contact-us { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.follow-us { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

fieldset { 
  border: 1px solid black;
  padding: 1rem;
  margin-top: 1rem;
}

#subscribe-btn { 
  background-color: red;
  border-radius: 4px;
  padding: 3px;
  color: white;
}

#subscribe:hover { 
  background-color: black;
  transition: background-color 0.5s ease;
  cursor: pointer; 
  box-shadow: 2px 2px 6px gray;
}

@media (max-width: 768px) { 
  header { 
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  }

  .kickboxing, .solopilates, .soloyoga { 
    flex-direction: column;
    align-items: center;
  }

  .kickboxing-image, .pilates-image, .yoga-image { 
    max-height: 100px;
  }

  .nav-list { 
    flex-direction: column;
    align-items: center;
  }
}